<nav>
  <img src="static/images/logo.jpg" alt="VSCode Extensions site logo." />
  <h1>VSCode Extensions</h1>
  <ul class="topnav">
    <li><a href="#">Home</a></li>
    <li><a href="add.html">Add me</a></li>
    <li><a href="about.html">About</a></li>
    <li class="post-button">
      <a href="post.html">Post</a>
    </li>

    <li class="profile-button">
      <a href="profile.html">
        <img
          src="/static/images/avatar.jpg"
          class="profile-icon"
          alt="Profile"
        />
        <div class="profile-text">
          <span class="name">Your Name</span>
          <span class="handle">@username</span>
        </div>
      </a>
    </li>
  </ul>
</nav>
