<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Home / Twitter{% endblock %}</title>

    <!-- Shared CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/rightstyle.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="page-wrapper">
      {% include "menu.html" %}
      <main class="main-center">{% block content %}{% endblock %}</main>
      {% include "newsbar.html" %}
    </div>
  </body>
</html>
